:root {
  --secondary-color: #9ba8ba;
  --success-color: #5e8f32;
  --warning-color: #FBC02D;
  --error-color: #D32F2F;
  --info-color: #0288D1;
  --placeholder-color: #a5b1c2;
  --background-color: #ffffff;
  --body-background-color: #fafafa;
  --body-color: #14142b;

  --scroll-bar-color: #9ba8ba;

  --card-background-color: #ffffff;
  --card-border-color: #dbdbdb;
}
